{% comment %}
optional perameters
product - current product
article
{% endcomment %}

{% if settings.show_breadcrumbs %}

  {% unless template.name == 'index' or template.name == 'cart' %}
    <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs" data-template-name="{{ template.name }}">
      <a href="{{ routes.root_url }}"
         title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>


      {% if template.name == 'product' %}
        {%- assign jsonld = '' -%}
        {%- assign elPosition = 0 -%}
        {%- capture asd %}{% increment elPosition %}{% endcapture -%}
        {%- capture jsonldElement -%}
          {"@type": "ListItem", "position": {% increment elPosition %}, "name": "Products", "item": "{{ shop.url }}{{ routes.root_url }}"}
        {%- endcapture -%}
        {%- assign jsonld = jsonld | append: jsonldElement -%}
      {% if collection %}
      {% if settings.show_breadcrumbs_collection_link %}
        <span class="breadcrumb__divider" aria-hidden="true">/</span>
        <a href="{{ routes.collections_url }}">{{ 'general.search.collections' | t | replace: ':', '' }}</a>
      {% endif %}

        <span class="breadcrumb__divider" aria-hidden="true">/</span>
        {% if collection.handle %}
          {% capture url %}{{ routes.collections_url }}/{{ collection.handle }}{% endcapture %}
          {{ collection.title | link_to: url }}
          {%- capture jsonldElement -%}
            {"@type": "ListItem","position": {% increment elPosition %},"name": "{{ collection.handle }}","item": "{{ shop.url }}{{ url }}"}
          {%- endcapture -%}
          {%- assign jsonld = jsonld | append: ", " | append: jsonldElement -%}
        {% endif %}
      {% endif %}

        <span class="breadcrumb__divider" aria-hidden="true">/</span>
        <a href="" aria-current="page">{{ product.title }}</a>
        {%- capture jsonldElement -%}
          {"@type": "ListItem","position": {% increment elPosition %},"name": "{{ product.title | replace: '"', '\"' }}","item": "{{ shop.url }}{{ product.url }}"}
        {%- endcapture -%}
        {% assign jsonld = jsonld | append: ", " | append: jsonldElement %}
        <script type="application/ld+json">
          {"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{{ jsonld }}]}
        </script>


      {% elsif template.name == 'collection' and collection.handle %}
        {%- assign jsonld = '' -%}
        {%- assign elPosition = 0 -%}
        {%- capture asd %}{% increment elPosition %}{% endcapture -%}
        {%- capture jsonldElement -%}
          {"@type": "ListItem", "position": {% increment elPosition %}, "name": "Products", "item": "{{ shop.url }}{{ routes.root_url }}"}
        {%- endcapture -%}
        {%- assign jsonld = jsonld | append: jsonldElement -%}
      {% if settings.show_breadcrumbs_collection_link %}
        <span class="breadcrumb__divider" aria-hidden="true">/</span>
        <a href="{{ routes.collections_url }}">{{ 'general.search.collections' | t | replace: ':', '' }}</a>
      {% endif %}

        <span class="breadcrumb__divider" aria-hidden="true">/</span>
        <a href="" aria-current="page">{{ collection.title }}</a>
        {% if false and collection.handle %}
          {% capture url %}{{ routes.collections_url }}/{{ collection.handle }}{% endcapture %}
          {%- capture jsonldElement -%}
            {"@type": "ListItem","position": {% increment elPosition %},"name": "{{ collection.handle }}","item": "{{ shop.url }}{{ url }}"}
          {%- endcapture -%}
          {%- assign jsonld = jsonld | append: ", " | append: jsonldElement -%}
        {% endif %}
        {%- capture jsonldElement -%}
          {"@type": "ListItem","position": {% increment elPosition %},"name": "{{ collection.title }}","item": "{{ shop.url }}{{ collection.url }}"}
        {%- endcapture -%}
        {% assign jsonld = jsonld | append: ", " | append: jsonldElement %}
        <script type="application/ld+json">
          {"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{{ jsonld }}]}
        </script>

      {% if current_tags %}

        {% capture url %}{{ routes.collections_url }}/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}

        <span class="breadcrumb__divider" aria-hidden="true">/</span>

      {% for tag in current_tags %}
        {% if tag contains "_" %}{%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_" %}{% if tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{% endif %}{% endif %}

        {% assign tag_name = tag | strip %}
        {% assign tag_text = tag_name | capitalize %}
        <span>{{ tag_text }}</span>

      {% unless forloop.last %}
        <span>+</span>
      {% endunless %}

      {% endfor %}
      {% endif %}


      {% elsif template.name == 'blog' %}
        {%- assign jsonld = '' -%}
        {%- assign elPosition = 0 -%}
        {%- capture asd %}{% increment elPosition %}{% endcapture -%}
        <span class="breadcrumb__divider" aria-hidden="true">/</span>
        <!-- check to see if current_tags value is required here or if this should be similar to branch chums-impulse-7.5.0 -->
        {% if current_tags %}
          {{ blog.title | link_to: blog.url }}
          {% if blog.handle %}
            {%- capture jsonldElement -%}
              {"@type": "ListItem","position": {% increment elPosition %},"name": "{{ blog.title }}","item": "{{ shop.url }}{{ blog.url }}"}
            {%- endcapture -%}
            {%- assign jsonld = jsonld | append: ", " | append: jsonldElement -%}
            <span class="breadcrumb__divider" aria-hidden="true">/</span>
            <span>{{ current_tags | join: " + " }}</span>
          {% endif %}
        {% endif %}
        {% unless jsonld == '' %}
        <script type="application/ld+json">
          {"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{{ jsonld }}]}
        </script>          
        {% endunless %}


      {% elsif template.name == 'article' %}
        {%- assign jsonld = '' -%}
        {%- assign elPosition = 0 -%}
        {%- capture asd %}{% increment elPosition %}{% endcapture -%}
        {%- capture jsonldElement -%}
          {"@type": "ListItem","position": {% increment elPosition %},"name": "{{ blog.title }}","item": "{{ shop.url }}{{ blog.url }}"}
        {%- endcapture -%}
        {%- assign jsonld = jsonld | append: jsonldElement -%}
        <span class="breadcrumb__divider" aria-hidden="true">/</span>
        {{ blog.title | link_to: blog.url }}
        <span class="breadcrumb__divider" aria-hidden="true">/</span>
        <a href="" aria-current="page">{{ article.title }}</a>
        {%- capture jsonldElement -%}
          {"@type": "ListItem","position": {% increment elPosition %},"name": "{{ article.title | replace: '"', '\"' }}","item": "{{ shop.url }}{{ article.url }}"}
        {%- endcapture -%}
        {%- assign jsonld = jsonld | append: ", " | append: jsonldElement -%}
        <script type="application/ld+json">
          {"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{{ jsonld }}]}
        </script>


      {% elsif template.name == 'page' %}

        <span class="breadcrumb__divider" aria-hidden="true">/</span>
        <a href="" aria-current="page">{{ page.title }}</a>

      {% elsif template.name == 'search' %}

        <span class="breadcrumb__divider" aria-hidden="true">/</span>
        <a href="" aria-current="page">{{ page_title | replace: '*', '' }}</a>

      {% else %}

        <span class="breadcrumb__divider" aria-hidden="true">/</span>
        <a href="" aria-current="page">{{ page_title }}</a>

      {% endif %}
    </nav>
  {% endunless %}

{% endif %}
